.contacts {
  background-color: var(--bg);
  padding-top: 53px;

  @media(max-width: 1024px) {
    padding-top: 40px;
  }

  @media(max-width: 480px) {
    padding-top: 25px;
  }

  &__body {
    display: flex;

    @media(max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 0 0 400px;
    display: flex;
    align-items: flex-end;

    @media(max-width: 1024px) {
      flex: 0 0 auto;
      order: 2;
      display: flex;
      justify-content: center;
    }

    @media(max-width: 900px) {
      flex: 0 0 0;
    }
  }

  &__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    @media(max-width: 1024px) {
      order: 1;
      align-items: center;
      margin-bottom: 285px;
    }

    @media(max-width: 480px) {
      margin-bottom: 170px;
    }
  }

  &__pic {
    max-width: 400px;
    height: 497px;

    @media(max-width: 1024px) {
      position: relative;
      left: 10px;
      max-width: 200px;
      height: 248px;
      margin-top: 15px;
    }

    @media(max-width: 480px) {
      left: 0;
      max-width: 100px;
      height: 124px;
    }

    img {
      transition: var(--transition);
    }
  }

  &__pic.hide {

    img {
      @media(max-width: 480px) {
        opacity: 0;
      }
    }
  }

  &__title {
    font-size: 40px;
    line-height: calc(52 / 40);
    font-weight: 700;
    padding-left: 113px;
    padding-top: 6px;
    margin-bottom: 36px;

    @media(max-width: 1024px) {
      padding-left: 0;
      margin-bottom: 100px;
      padding-top: 0;
    }

    @media(max-width: 480px) {
      margin-bottom: 80px;
      font-size: 25px;
      line-height: calc(33 / 25);
    }
  }

  &__inner {
    position: absolute;
    top: 95px;
    right: 0;
    transition: var(--transition);

    @media(max-width: 1024px) {
      top: 150px;
      right: inherit;
    }

    @media(max-width: 480px) {
      top: 115px;
    }
  }

  &__inner.active {

    @media(max-width: 1024px) {
      top: 113px;
    }
    
    @media(max-width: 480px) {
      top: 75px;
    }
  }

  &__select {
    align-self: flex-end;
    position: relative;
    z-index: 40;

    @media(max-width: 1024px) {
      align-self: center;
    }
  }

  &__office {
    padding: 27px 33px 32px;
    background: #EDF2EC;
    border: 1px solid #000000;
    border-radius: 20px;
    width: 450px;
    align-self: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);

    position: absolute;
    top: 95px;
    left: 0;

    @media(max-width: 533px) {
      padding: 33px 30px 20px;
      max-width: 400px;
      width: calc(100% - 20px);
      margin: 0 auto;
    }
  
    @media(max-width: 480px) {
      left: 50%;
      top: 100px;
      transform: translateX(-50%);
    }

    &.shown {
      opacity: 1;
      visibility: visible;
      margin-bottom: 40px;

      @media(max-width: 1024px) {
        top: 110px;
      }

      @media(max-width: 480px) {
        top: 100px;
      }
    }
  }
}