.welcome {
  padding: 65px 0 55px;
  background-color: var(--bg);
}
@media (max-width: 1024px) {
  .welcome {
    padding: 35px 0 70px;
  }
}
@media (max-width: 480px) {
  .welcome {
    padding: 24px 0;
  }
}
.welcome__body {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 765px) {
  .welcome__body {
    flex-direction: column;
  }
}
.welcome__pic {
  position: relative;
  top: -8px;
  width: 448px;
  height: 407px;
  flex: 0 0 448px;
  padding: 12% 0;
  margin-right: 40px;
}
@media (max-width: 1024px) {
  .welcome__pic {
    top: 0;
    max-width: 280px;
    max-height: 254px;
    flex: 0 0 280px;
    margin-right: 0;
    margin-left: 40px;
    order: 2;
  }
}
@media (max-width: 765px) {
  .welcome__pic {
    display: none;
  }
}
.welcome__descr {
  max-width: 550px;
}
@media (max-width: 1024px) {
  .welcome__descr {
    flex: 1 1 60%;
    order: 1;
  }
}
.welcome__title {
  font-size: 45px;
  color: var(--brand-1);
  margin-bottom: 42px;
  line-height: 1.1111111111;
}
@media (max-width: 1024px) {
  .welcome__title {
    margin: 0 0 30px;
    font-size: 35px;
    line-height: 1.4285714286;
  }
}
@media (max-width: 480px) {
  .welcome__title {
    max-width: 330px;
    margin-bottom: 20px;
    font-size: 25px;
  }
}
.welcome__title span {
  color: var(--accent-1);
}
.welcome__text {
  max-width: 530px;
  margin-bottom: 48px;
  line-height: 1.75;
}
@media (max-width: 1024px) {
  .welcome__text {
    line-height: 1.5625;
    margin-bottom: 36px;
    margin-left: 5px;
  }
}
@media (max-width: 480px) {
  .welcome__text {
    margin-bottom: 25px;
    margin-left: 0;
  }
}
.welcome__btn {
  padding: 10px 27px;
  text-transform: uppercase;
  border: 2px solid var(--accent-2);
  border-radius: 10px;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: var(--transition);
}
@media (max-width: 1024px) {
  .welcome__btn {
    padding: 11px 27px;
  }
}
@media (max-width: 480px) {
  .welcome__btn {
    padding: 10px 16px;
    font-size: 10px;
  }
}
.welcome__btn:hover {
  background-color: var(--accent-2);
  color: #fff;
}